node
node_modules
.idea
*.iml
*.ipr
*.iws
.classpath
.project
.settings
.tmp
.merge_file*
.sass-cache
.DS_Store
.gradle
.metadata
.recommenders
*.p12

target
build
logs
work
bin
npm-*.log
WEB-INF
*.ldb