<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="icon" type="image/ico" href="/vendor/images/music_heart.ico" sizes="32x32">
<title>Love letter</title>
</head>
<body>
</body>
<script type="text/javascript">
(function(){  
    var user = navigator.userAgent;  
    var Agents = ["Android","Linux","iPhone"];  
    var flag = false;  
    for (var i = 0;i<Agents.length;i++) {  
        if (user.indexOf(Agents[i]) > 0){  
            flag = true;  
        }  
    }  
    if(!flag){
        window.location="/pc";
    }else{
    	window.location="/mobile";
    }
})();  
</script>
</html>